@import "variables";

body {
  margin: 0;
  padding: calc(15px);
  background: $bodyBg;
  font-family: 'Work Sans', sans-serif;
  button, input {
    font-family: 'Work Sans', sans-serif;
  }
}

#root {
  background: $black;
  border-radius: 10px;
  padding-bottom: 40px;
}

.container {
  width: 1140px;
  margin: 0px auto;
  padding: 25px 15px;
}

.newTaskSection {
  padding: 25px 10px;
}