// =====-Colors-=====
$bodyBg: #1E1E1E;
$black: #141414;
$semiBlack: #181818;
$gray: #464646;
$green: teal;
$purple: #FF2460;
$yellow: #FCF302;
$blue: #78ACD5;
$white: #FFFFFF;

// =====-Get color with opacity-=====
@mixin getLinearGradient($color) {
    background: linear-gradient(
                    #{$color + '00' 0%,},
                    #{$color + '50' 25%,},
                    #{$color 50%,},
                    #{$color + '50' 75%,},
                    #{$color + '00' 100%,},
    );
}

// =====-Background Gradients-=====
$gradientBg:
    radial-gradient(60.25% 122.24% at 103.28% -41.67%,
    #FDC2B0 0%, rgba(235, 81, 158, 0.25) 100%),
    radial-gradient(80.74% 163.82% at -1.23% -17.59%,
    #5AF8FE 0%,
    rgba(235, 81, 158, 0.25) 100%),
    radial-gradient(49.18% 100.93% at 77.87% 111.11%,
    rgba(137, 59, 254, 0.85) 0%,
    rgba(128, 187, 219, 0.2125) 100%) #4EDFFC;
$gradientBgHover:
    radial-gradient(60.25% 122.24% at 103.28% -12.67%,
    #FDC2B0 0%, rgba(235, 81, 158, 0.25) 100%),
    radial-gradient(80.74% 163.82% at -1.23% -75.59%,
    #5AF8FE 0%,
    rgba(235, 81, 158, 0.25) 100%),
    radial-gradient(49.18% 100.93% at 77.87% 16.11%,
    rgba(137, 59, 254, 0.85) 0%,
    rgba(128, 187, 219, 0.2125) 100%) #4EDFFC;