@import "./src/style/variables";

.list {
  width: 70vh;
  max-height: 30vh;
  min-height: 30vh;
  overflow: auto;
  margin: 0px auto 40px;
  list-style: none;
  .task {
    display: flex;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $semiBlack;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    @include getLinearGradient($blue);
    border-radius: 20px;
  }
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: $white;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

}

